<!DOCTYPE html >
<html class="no-js" lang="it">
<head>

  <!-- Print metadata -->

  <!-- HTML metadata -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />
  <meta lang="en" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Open Graph metadata -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />

  <!-- Load site favicon -->
  <link rel="shortcut icon" href={{"/images/css/paths-favicon.png" | relative_url }}>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href={{ "/css/styles.css" | relative_url }}>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
crossorigin=""/>

</head>

<body>
  <div class="img-container">

    <h1>
      PAThs.docs<br />
      <small>Tracking Papyrus and Parchment Paths.<br>An Archaeological Atlas of Coptic Literature.</small>
    </h1>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <a class="nav-link d-none d-md-block" href="http://paths.uniroma1.it" title="PAThs main website">
      <i class="fas fa-external-link-alt"></i> PAThs main website
    </a>
    <a class="nav-link d-none d-md-block" href="http://atlas.paths-erc.eu" title="PAThs Atlas">
      <i class="fas fa-external-link-alt"></i> PAThs Atlas
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.menu.docs %}
           <li class="nav-item{% if page.url == item.url %} active border-bottom{% endif %}">
             <a class="nav-link" href="{{ item.url }}" alt="{{ item.title }}" title="{{ item.title }}">
               {{ item.title }}
             </a>
           </li>
        {% endfor %}
      </ul>
    </div>
  </nav>

  <div class="container">
    <main>
      <article class="{{ page.class }}">
        <h1 class="my-5 pb-2 border-bottom">{{ page.title }}</h1>
        {% if page.img %}
        <div class="my-5 text-center">
          <img src={{ page.img | relative_url }} alt="European Research Council" class="img-fluid img-thumbnail" />
        </div>
        {% endif %}
        {% if page.calendar %}
        <div class="mb-3 text-right">
          <span class="text-info border-bottom pb-1 border-info">{{ page.calendar }}</span>
        </div>
        {% endif %}
        {{ content }}
      </article>
    </main>
  </div>



  <footer class="border-top mt-5 pt-5 bg-light">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-6">
          <h3><small>Tracking Papyrus and Parchment Paths</small><br />
            An Archaeological Atlas of Coptic Literature</h3>
          <p>Literary Texts in their Geographical Context:
            Production, Copying, Usage, Dissemination and Preservation</p>
        </div>


            <div class="col-xs-6 col-sm-offset-0 col-sm-3">
              <a href="http://www.uniroma1.it" title="Sapienza. Università di Roma" target="_blank">
                <img src={{ "/images/css/logosapienza.jpg" | relative_url }} alt="Sapienza. Università di Roma" class="img-fluid" />
              </a>

              <p class="text-center" style="margin-top: 15px;">
                <a href="http://www.dipscr.uniroma1.it/" target="_blank">
                  Dipartimento di Storia Antropologia Religioni Arte Spettacolo
                </a>

              </p>
            </div>
            <div class="col-xs-6 col-sm-offset-0 col-sm-3">
              <a href="http://erc.europa.eu" title="European Research Council" target="_blank">
                <img src={{"/images/css/erc.jpg" | relative_url }} alt="European Research Council" class="img-fluid" />
              </a>
            </div>
          </div>

          <div class="border-top border-bottom py-2 text-center">
            <p class="">Contact: <strong>Paola Buzi</strong><br>
            Dipartimento di Storia Antropologia Religioni Arte Spettacolo<br>
            Facoltà di Lettere e Filosofia
            Sapienza Università di Roma<br>
            Piazzale Aldo Moro 5, 00185 Roma – Italy<br>
            Tel. <a href="tel:+390649913419">+39 06 49913419</a> |
            <a href="mailto:paola.buzi@uniroma1.it">paola.buzi@uniroma1.it</a>
          </div>
        </div>
      </footer>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.js"></script>
      <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
      <script src={{ "/js/modalMap.js" | relative_url }}></script>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-10461068-46"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-10461068-46');
      </script>


    </body>
    </html>
